@import "tailwindcss";

@theme{
    --color-Neutral-900:#080C20 ;
    --color-Neutral-400:##777F98;
    --color-Neutral-0:#FFFFFF;
    --color-Cyan:#3EE9E5;
    --color-Red-400:#FF2965;
    --color-Blue-800:#093F68;
    --color-Blue-Gray-500:#6B8CA4;
}
body{
  font-family: "Manrope", sans-serif;
  letter-spacing: 0;
  font-style: normal;
  background-color: var(--color-Neutral-900);
  display: grid;
  place-items: center;
}

.Text-Preset-1{
  font-size: 48px;
  font-weight: 800;
  line-height: 120%;
}
.Text-Preset-1-Mobile{
  font-size: 32px;
  line-height: 120%;
  font-weight: 800;
}
.Text-Preset-2{
  font-size: 40px;
  line-height: 140%;
  font-weight: 800;
}
.Text-Preset-3{
  font-size: 32px;
  line-height: 140%;
  font-weight: 800;
}
.Text-Preset-4{
  font-size: 18px;
  line-height: 140%;
  font-weight: 800;
}
.Text-Preset-5{
  font-size: 15px;
  line-height: 160%;
  font-weight: 500;
}
.Text-Preset-6{
  font-size: 15px;
  line-height: 140%;
  font-weight: 800;
}
.Text-Preset-7{
  font-size:12px;
  line-height: 160%;
  font-weight: 500;
}




