@import "tailwindcss";
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme{
  --color-Neutral-900:#25293A;
  --color-Neutral-800:#333950;
  --color-Neutral-500:#747b95;
  --color-Neutral-50:#FAFAFA;
  --color-Neutral-0:#FFFFFF;
  --color-Blue-500:#5175FF;
  --color-Blue-300:#829CFF;
  --color-Blue-100:#E4EAFF;
  --color-Red-400:#F05B5B;
}
.buttonPrimary{
  @apply  hover:bg-Blue-300 bg-Blue-500 px-10 py-3 text-Neutral-0 focus:ring-2 focus:ring-Blue-500  focus:ring-offset-4 focus:ring-offset-white
}
.buttonFooter{
  @apply hover:bg-Blue-300 bg-Blue-500 px-10 py-3 text-Neutral-0 focus:ring-2 focus:ring-Neutral-0 focus:ring-offset-4 focus:ring-offset-Neutral-900
}
.buttonSecondary{
  @apply text-Blue-500 bg-Blue-100 hover:bg-Blue-500 hover:text-Neutral-0 focus:ring-2 focus:ring-Blue-500 focus:ring-offset-2 focus:ring-offset-white
}
.proPlanButton{
  @apply  text-Blue-500 bg-Neutral-0 hover:bg-Blue-100 hover:cursor-pointer
}
.PlanButton{
  @apply  text-Blue-500 bg-Blue-100 hover:bg-Blue-500 hover:text-Neutral-0 hover:cursor-pointer
}
.bgIconArrow{
  @apply bg-[url('/assets/sign-up/icon-arrow-down.svg')] bg-no-repeat bg-[right_15px]
}
body{
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  display: grid;
  place-items: center;
  padding-top: 40px;
  background-color:var(--color-Neutral-50);
}
.TextPreset1{
  font-size: 56px;
  font-weight: bold;
}
.TextPreset1Tablet{
  font-size: 40px;
  font-weight: bold;
}
.TextPreset2{
  font-size: 20px;
  line-height: 140%;
  font-weight: bold;
}
.TextPreset3{
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}
.TextPreset4{
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.TextPreset5{
  font-size: 16px;
  line-height: 160%;
  font-weight: bold;
}
.TextPreset6{
  font-size: 16px;
  line-height: 160%;
  font-weight: bold;
  letter-spacing: 5px;
}

