@import "tailwindcss";

@theme{
  --font-Inter: "Inter", sans-serif;
  --color-White:#FFFFFF;
  --color-Black:#000000;
  --color-Grey-500:#5E6E85;
  --color-Grey-300:#ACC1DE;
  --color-Blue-900:#253347;
  --color-Blue-500:#345FF6;
  --color-Blue-300:#B3D3F1;
  --color-Blue-100:#E1E7FE;
  --color-Gradient-1:#D6FCFE;
  --color-Gradient-2:#D6E6FE;
}

.Preset-1 {
  @apply text-[4rem] leading-[1.1] tracking-[-0.05em] font-semibold;
}

.Preset-2 {
  @apply text-[3rem] leading-[1.1] tracking-[-0.05em] font-semibold;
}

.Preset-3 {
  @apply text-[2rem] leading-[1.1] tracking-[-0.05em] font-semibold;
}

.Preset-4 {
  @apply text-[1.5rem] leading-[1.2] tracking-[-0.05em] font-semibold;
}

.Preset-5 {
  @apply text-[1.25rem] leading-[1.2] tracking-[-0.05em] font-semibold;
}

.Preset-6 {
  @apply text-[1rem] leading-[1.5] tracking-[0] font-semibold;
}

.Preset-6-Regular{
  @apply text-[1rem] leading-[1.5] tracking-[0] font-normal;
}

.Preset-7 {
  @apply text-[0.875rem] leading-[1.5] tracking-[0] font-bold;
}

.Preset-7-Regular {
  @apply text-[0.875rem] leading-[1.5] tracking-[0] font-normal;
}
.Check{
  @apply w-5 h-5 relative appearance-none border-2 border-slate-300 rounded-full checked:bg-Blue-500 checked:border-Blue-500 transition-all duration-200 ease-in-out cursor-pointer;
  
}
.InputText{
  @apply  h-[77px] mt-2 p-6 outline-none focus:border-Blue-500 focus:border-2 border border-Grey-500 rounded-2xl text-Blue-900 placeholder:text-Grey-500;
}
